.message-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: transparent;
    margin:100px 10px 0px 5px;
    background: rgba(33, 32, 32, 0.93);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.message-main div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    text-align: center;
    margin-left: 60px;
    margin-bottom: 60px;
    padding: 10px 10px;
    margin: 50px 60px 40px 60px;
    border: transparent;
    background: rgba(43, 39, 39, 0.989);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
 

 
}
@media screen and (max-width: 1319px){
    .message-main div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 60px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        margin-bottom: 60px;
        padding: 10px 10px;
        border: transparent;
        background: rgba(43, 39, 39, 0.989);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 0.5px solid rgba(255, 255, 255, 0.3);
     
    
     
    }
    
   
    
}
@media screen and (max-width: 1000px){
    .message-main div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 60px;
        padding: 5px 5px;
        border: transparent;
        background: rgba(43, 39, 39, 0.989);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 0.5px solid rgba(255, 255, 255, 0.3);
     
    
     
    }
    .message-main div p{
        color:rgb(254, 243, 250);
        font-size: 12px;
    
    }
    .message-main div h2{
        color:rgb(254, 243, 250);
        background-image: linear-gradient(to right, rgb(255, 48, 255), orange);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 16px;
    
    }
    .message-main div button{
        padding: 5px 5px;
        font-size: 12px;
    }
    .message-main{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: transparent;
        margin:100px 10px 0px 5px;
        background: rgba(33, 32, 32, 0.93);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    
   
    
}
.message-main div p{
    color:rgb(254, 243, 250);

}
.message-main div h2{
    color:rgb(254, 243, 250);
    background-image: linear-gradient(to right, rgb(255, 48, 255), orange);
    -webkit-background-clip: text;
    color: transparent;

}
.message-main div button{
    color:rgb(249, 145, 40);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    border: transparent;
    background: rgba(43, 39, 39, 0.989);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
 

 
}